In [2]:
print("hello world!")

hello world!

In [3]:
#was to initialize variable and value as 80
a=80
print(a)

80

In [4]:
#was to initialize multivariable values are 120,150,180
a,b,c=120,150,180
print(a)

120

In [5]:
#was to print the  type of data  in given value
a={10,20}
type(a)

set

In [6]:
#was to print address of the memory block in given value 
a=200
id(a)

140714089511944

In [3]:
name="sami"
age=21
phno=8688113507
height=6.7
print(name)
print(name,age)

sami
sami 21

In [4]:
#was to swap the two values with a temp varaible
x="sami"
y="sai"
temp=x
x=y

In [ ]:
#was to swap two values without temp varaiable